@page
@model CIS325_Master_Web.Pages.Demos.Module2.GreetingModel
@{
    ViewData["Title"] = "Flagler Greetings";
}

<h1>Greetings from Flagler! :)</h1>

@if (!string.IsNullOrEmpty(Model.ConfirmationMessage))
{
    <div class="alert alert-success">@Model.ConfirmationMessage</div>
}

<form method="post">
    <!--Form level vadliation error-->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!--The input form-->
    <div class="mb-3">
        <label asp-for="Name">Name: </label>
        <input asp-for="Name" class="form-control w-50" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <!--Action button that triggers the Post event-->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!--You may import the partial view here instead-->
<!--
<partial Name ="_MessageForm" model="Model" />
-->


<!--Insert the content of the _ValidationScriptsPartial.cshtml-->
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}